<%- include("header"); -%>

<h2>this is the about page </h2>

<h3><i> of the most important reasons you should use a to do list is that it will help you stay organised. 
    When you write all your tasks in a list, they seem more manageable. 
    When you’ve got a clear outline of the tasks you’ve got to do and those you’ve completed, 
    it helps you stay focused.
    While freeing up space in your mind for other more creative tasks.
    When you complete a task, you can cross it off your list.
    This gives you a sense of progress and achievement, 
    something you’ll lack if you’re always rushing from one task to the next. 
    If you feel a sense of achievement, it spurs you on and motivates you to keep moving forward.
</i></h3>

<%- include("footer"); -%>